*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(202, 205, 207);
    text-align: center;
}
body{
    padding: 50px;
    background-color: rgb(13,13,20);
}
h1{
    padding: 30px 0;
}
.card{
    padding: 1em;
    border: 1px solid rgb(157, 63, 79);
    border-radius: 10px;
    background-color: #171c0a;
    text-align: center;
}
.card h2{
    text-align: center;
}
.grid-container{
    display: grid;
    border: 1px solid white;
    grid-template-columns: repeat(4,1fr);
}