           *{
            margin: 0%;
            padding: 0%;
           }
           html,body{
            width:  100%;
            height: 100%;
           }
           body{
            background-color: antiquewhite;
            display: flex;
           }
           div{
            width: 70%;
            height: 70%;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: xx-large;
           }
           #box1{
            background-color: aqua;
           }
           #box2{
            background-color: red;
           }
           #box3{
            background-color:blue;
           }