* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.sticky-header {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: #0077b6;
    color: white;
    text-align: center;
    border-bottom: 4px solid #023e8a;
    z-index: 100;
    border-radius: 10px;
}

.profile-card {
    width: 300px;
    text-align: center;
    min-height: 380px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin: 30px auto;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background-color: pink;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    width: 40px;
    cursor: pointer;
}

.profile-img {
    display: block;
    margin: 0 auto 15px auto;
    border-radius: 50%;
    border: 3px solid #0077b6;
    width: 120px;
    height: 130px;
    
}

.name {
    color: #023e8a;
    margin-bottom: 10px;
}

.bio {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    padding: 0 10px;
    overflow: hidden;
}

.stat {
    display: inline-block;
    width: 80px;
    margin: 5px;
    padding: 10px;
    background-color: #caf0f8;
    border-radius: 5px;
}

.stat h3 {
    font-size: 18px;
    font-weight: bold;
    color: #0077b6;
}

.stat p {
    font-size: 12px;
    color: #555;
}

.btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0077b6;
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #023e8a;
}